    <!-- restaurant list -->
    <div class="container mt-3">
        <div class="raw">
            <div class="col-12  d-inline-flex flex-column  justify-content-center align-items-center">
                <img class="my-3" src="/image/doge.png" alt="" style="height:150px;width:130px;">
                <h3 style="color:#6C757D;">{{errorMessage}}</h3>
            </div>
        </div>
    </div>
