    <!-- search bar -->
    <div class="container search-bar">
        <div class="search-bar-outer">
            <div class="search-bar-inner">
                <form action="/search">
                    <div class="container m-0 p-0 w-100 d-flex justify-content-between">
                        <h4 class="mb-2">尋找餐廳：</h4>
                    </div>
                    <div class="input-group">
                        <a href="/restaurants/new"><button type="button" class="btn btn-major rounded-pill rounded-end">創造餐廳</button></a>
                        <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類"
                            aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button">
                        <div class="input-group-append">
                            <button class="btn btn-major rounded-pill rounded-start" type="submit" id="search-button"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- restaurant list -->
    <div class="container mt-3">
        <div class="raw">
            <div class="col-12  d-inline-flex flex-column  justify-content-center align-items-center">
                <img class="my-3" src="/image/doge.png" alt="" style="height:150px;width:130px;">
                <h3 style="color:#6C757D;">Wow! Such Empty!</h3>
            </div>
        </div>
    </div>
