<div class="container main-container">
    <div class="card rounded-5">
      <div class="row">
        <div class="input-area col-7">bbb</div>
        <div class="picture-area col-5"></div>
      </div>
    </div>
</div>