header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: fixed;
  top:-40px;
  z-index: -1;
  margin: -5px;
  height: 120vh;
  width: 100vw;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.main-container{
  margin-top: 30px;
  max-width: 720px;
}
.card {
  border:#ffffff solid 0px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.picture-area{
  min-height:600px;
  background: #dddddd center center url('/image/meat_ball.jpeg');
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: 80% 75%;
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}
